.Menubar-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #3870a8;
    color:white !important;

}
.menu-container{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.menu-container li:hover {
    background-color: hsl(122, 64%, 42%);
    border:2px solid black;
    padding: 10px;
  }

.menu-container li{
    margin-right: 10px;
    font-size:18px;
    color: white;
    list-style: none;
    
}
.logo {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    width: 60px;
    
}
.menu-item{
    text-decoration: none !important;
    padding-top: 10px;
}